// Here you can add other styles

.dashboard {
    width: 100%;
    height: 100%;
    // color: #564eef;
    // color: #1b167b;
    display: grid;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    // grid-auto-columns: "1fr";
    // grid-auto-rows: "80px";
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(30,minmax(60px, 1fr));
    grid-template-areas:
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "b b b"
    "b b b"
    "b b b"
    "b b b"
    "b b b"
    "c c c"
    "c c c"
    "c c c"
    "d d d"
    "d d d"
    "d d d"
    "e e e"
    "e e e"
    "f f f"
    "f f f"
    "f f f"
    "g g g"
    "g g g"
    "g g g"
    "h h h"
    "h h h"
    "h h h"
    "h h h"
    "i i i"
    "i i i"
    "j j j"
    "j j j";

    @media (min-width: 1200px) {
    // Adjusted grid-template-areas for larger screens
    grid-template-columns: repeat(3, minmax(370px, 1fr));
    grid-template-rows: repeat(10, minmax(60px, 1fr));
    grid-template-areas:
    "a b c"
    "a b c"
    "a b c"
    "a b f"
    "d e f"
    "d e f"
    "d h i"
    "g h i"
    "g h j"
    "g h j";
  }
}

.dashboardbox{
    border-radius: 1rem;
    box-shadow: 0.15rem 0.2rem 0.15rem 0.1rem rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
.dashboardbox:hover{
    transform: scale(1.05);
    border-radius: 0.5rem;
    // box-shadow: 0.15rem 0.2rem 0.15rem 0.1rem rgba(153, 20, 20, 0.8);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    transition: 0.3s;
}

.box1{
    grid-area: a;
    background-color: #cb8a8a;
}
.box2{
    grid-area: b;
    background-color: #982222;

}
.box3{
    grid-area: c;
    background-color: #288416;

}
.box4{
    grid-area: d;
    background-color: #117a8a;

}
.box5{
    grid-area: e;
    background-color: #085f46;

}
.box6{
    grid-area: f;
    background-color: #3b1079;

}
.box7{
    grid-area: g;
    background-color: #a27c12;

}
.box8{
    grid-area: h;
    background-color: #0a1454;

}
.box9{
    grid-area: i;
    background-color: #8f0e0e;

}
.box10{
    grid-area: j;
    background-color: #710823;

}